<div id="filters-container">
    <section id="filters">
        <h2>filters</h2>
        <section>
            <h3>plan status</h3>
            <div>
                <input type="checkbox" id="plan-status-active" />
                <label for="plan-status-active">active</label>
            </div>
            <div>
                <input type="checkbox" id="plan-status-expired" />
                <label for="plan-status-expired">expired</label>
            </div>
        </section>
        <section>
            <h3>NYC mayors</h3>
            <select id="mayors">
                <option data-start="1950" data-end="2013" value="">pick one</option>
                <option data-start="1950" data-end="1953">Vincent R. Impellitteri</option>
                <option data-start="1954" data-end="1965">Robert F. Wagner, Jr.</option>
                <option data-start="1966" data-end="1973">John V. Lindsay</option>
                <option data-start="1974" data-end="1977">Abraham D. Beame</option>
                <option data-start="1978" data-end="1989">Edward I. Koch</option>
                <option data-start="1990" data-end="1993">David N. Dinkins</option>
                <option data-start="1994" data-end="2001">Rudolph W. Giuliani</option>
                <option data-start="2002" data-end="2013">Michael R. Bloomberg</option>
            </select>
        </section>
        <section>
            <h3>last updated year</h3>
            <select id="last-updated">
                <option value="">any year</option>
                {{#each years}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </section>
    </section>

    <section id="highlights">
        <h2>highlight lots</h2>
        <section id="dispositions">
            <h3>selected planned uses</h3>
            {{#each dispositions}}
            <div>
                <input type="checkbox" id="{{id}}" data-disposition="{{label}}" />
                <label for="{{id}}">{{label}}</label>
            </div>
            {{/each}}
        </section>
        <section>
            <h3>public vacant lots</h3>
            <div>
                <input type="checkbox" id="public-vacant" />
                <label for="public-vacant">publicly owned and vacant today</label>
            </div>
        </section>
    </section>
</div>
