<ul>
    {{#each rows}}
        <li class="lot" data-borough="{{borough}}" data-block="{{block}}" data-lot="{{lot}}">
            <div class="lot-external-links">
                {{#if in_596}}
                <a href="http://livinglotsnyc.org/lot/{{bbl}}/" target="_blank" title="View on Living Lots NYC"><img width="22" height="22" src="img/livinglotsnyc.png" /></a>
                {{/if}}
                <a title="View on OASIS" href="http://www.oasisnyc.net/map.aspx?etabs=1&zoomto=lot:{{bbl}}" target="_blank"><img width="22" height="22" src="img/oasis.ico" /></a>
            </div>
            <h3>{{borough}} block {{block}}, lot {{lot}}</h3>
            <div>Planned use: 
                {{#if disposition}}
                {{disposition}}
                {{else}}
                unknown
                {{/if}}
            </div>
        </li>
    {{/each}}
</ul>
