<ul>
    {{#each rows}}
        <li class="lot" data-borough="{{borough}}" data-block="{{block}}" data-lot="{{lot}}">
            <h3>{{borough}} block {{block}}, lot {{lot}}</h3>
        </li>
    {{/each}}
</ul>
