<div id="plan-list-container">
    <h2>Plans</h2>
    <a href="#" id="plan-list-filters-link" class="nav-button">Filters</a>
    <section class="filter-section">
        <h3 class="filter-section-header">plan status</h3>
        <div>
            <input type="checkbox" id="plan-status-active" />
            <label for="plan-status-active">active</label>
        </div>
        <div>
            <input type="checkbox" id="plan-status-expired" />
            <label for="plan-status-expired">expired</label>
        </div>
    </section>
    <section class="filter-section">
        <h3 class="filter-section-header">last updated year</h3>
        <div>
            <select id="last-updated">
                <option value="">any year</option>
                {{#each decades}}
                <option data-min="{{this.[0]}}" data-max="{{this.[1]}}" value="{{this.[0]}}">
                    {{this.[0]}} - {{this.[1]}}
                </option>
                {{/each}}
            </select>
        </div>
    </section>
    <section id="plans">
        <div class="plan-list-header">
            <div class="plan-list-header-adopted">adopted</div>
            <div class="plan-list-header-name">plan</div>
            <div style="clear: both;"></div>
        </div>
        <ul class="plan-list">
            {{#each plans}}
                <li class="plan" data-name="{{name}}">
                    <div class="plan-adopted">{{adopted}}</div>
                    <div class="plan-name">{{name}}</div>
                    <div style="clear: both;"></div>
                </li>
            {{/each}}
        </ul>
    </section>
</div>
