<div class="plan">
    <header class="plan-header">
        <button class="panel-toggle">
            &times;
        </button>
        <div class="plan-header-content">
            <h1>{{name}}</h1>
            <div class="plan-header-content-item adopted">
                <label>adopted</label>
                <span class="value">{{adopted}}</span>
            </div>
            <div class="plan-header-content-item">
                <label>last updated</label>
                <span class="value">
                    {{#if last_updated}}
                    {{last_updated}}
                    {{else}}
                    &mdash;
                    {{/if}}
                </span>
            </div>
            <div class="plan-header-content-item">
                <label>status</label>
                <span class="value">
                    {{#if status}}
                    {{status}}
                    {{else}}
                    &mdash;
                    {{/if}}
                </span>
            </div>
        </div>
        <div style="clear: both;"></div>
    </header>
    <div class="plan-content">
        <section id="plan-about">
            <h2>About the plan</h2>
            <p>(Coming soon.)</p>
            <div id="plan-details"></div>
            <a class="plan-share-story" target="_blank" href="mailto:organizers@596acres.org?subject=My Urban Reviewer story on {{name}}">Share your story</a>
        </section>
        <section id="lots">
            <h2>lots</h2>
            <div id="lots-content"></div>
        </section>
    </div>
</div>
