<div id="plan-list-container">
    <h2>Plans</h2>
    <a href="#" id="plan-list-filters-link" class="nav-button">
        <img src="img/filters.png" />
        Filters
    </a>
    <section class="filter-section">
        <h3 class="filter-section-header">plan status</h3>
        <div class="input-group">
            <input type="checkbox" id="plan-status-active" />
            <label class="checkbox-label" for="plan-status-active">active</label>
            <span class="help-button" data-toggle="tooltip" data-placement="left" title="Show only plans that have not expired">?</span>
        </div>
        <div class="input-group">
            <input type="checkbox" id="plan-status-expired" />
            <label class="checkbox-label" for="plan-status-expired">expired</label>
            <span class="help-button" data-toggle="tooltip" data-placement="left" title="Show only plans that have expired">?</span>
        </div>
    </section>
    <section class="filter-section">
        <h3 class="filter-section-header">last updated year</h3>
        <div>
            <select id="last-updated">
                <option value="">any year</option>
                {{#each decades}}
                <option data-min="{{this.[0]}}" data-max="{{this.[1]}}" value="{{this.[0]}}">
                    {{this.[0]}} - {{this.[1]}}
                </option>
                {{/each}}
            </select>
            <span class="help-button" data-toggle="tooltip"
                data-placement="left" title="Show only plans that were updated in the given decade">?</span>
        </div>
    </section>
    <section id="plans">
        <div class="plan-list-header">
            <div class="plan-list-header-adopted">adopted</div>
            <div class="plan-list-header-name">plan</div>
            <div style="clear: both;"></div>
        </div>
        <div id="plan-list-partial-container"></div>
    </section>
</div>
