<div class="plan">
    <header class="plan-header">
        <button class="panel-toggle">
            &times;
        </button>
        <div class="plan-header-content">
            <h1>{{name}}</h1>
            <div class="plan-header-content-item adopted">
                <label>adopted</label>
                <span class="value">{{adopted}}</span>
            </div>
            <div class="plan-header-content-item">
                <label>last updated</label>
                <span class="value">
                    {{#if last_updated}}
                    {{last_updated}}
                    {{else}}
                    &mdash;
                    {{/if}}
                </span>
            </div>
            <div class="plan-header-content-item">
                <label>status</label>
                <span class="value">
                    {{#if status}}
                    {{status}}
                    {{else}}
                    &mdash;
                    {{/if}}
                </span>
            </div>
        </div>
        <div style="clear: both;"></div>
    </header>
    <div class="plan-content">
        <section id="plan-about">

            <div id="image-container" class="carousel slide" data-ride="carousel" data-interval="false" style="display: none;">

                <ol class="carousel-indicators"></ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner"></div>

                <!-- Controls -->
                <a class="left carousel-control" href="#image-container" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#image-container" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>

            <h2>About the plan</h2>
            <div id="plan-details"></div>
            <a class="plan-share-story" target="_blank" href="mailto:organizers@596acres.org?subject=My Urban Reviewer story on {{name}}">Share your story</a>
        </section>
        <section id="lots">
            <h2>lots</h2>
            <div id="lots-content"></div>
        </section>
        <section id="data">
            <h2>data</h2>
            <div>
                Get map data for 
                <a href="https://github.com/596acres/urbanreviewer/tree/gh-pages/data/geojson/us/ny/nyc/nyc.geojson" target="_blank">NYC</a> / 
                <a href="https://github.com/596acres/urbanreviewer/tree/gh-pages/data/geojson/us/ny/nyc/{{borough}}/all.geojson" target="_blank">{{borough}}</a> / 
                <a href="https://github.com/596acres/urbanreviewer/tree/gh-pages/data/geojson/us/ny/nyc/{{borough}}/{{name}}.geojson" target="_blank">{{name}}</a>
            </div>
        </section>
    </div>
</div>
